body {
  margin: 0px;
  background-color: #FEE;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 25px;
}

#header img {
  margin-top: 50px;
}

#main-nav-menu {
  position: fixed;
  z-index: 9999;
  width: 960px;
}

#container {
  width: 960px;
  margin: auto;
  background: white;
  padding-bottom: 50px;
  margin-bottom: 50px;
}


#content {
  width: 620px;
font-size: 14px;
}

.nav-menu {
  background-color: #02913F;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.nav-menu ul, .nav-menu li {
  list-style-type: none;
  display: inline-block;
  padding-left: 0px;
}

.nav-menu li {
  margin-left: 20px;
}

.nav-menu li a {
  color: white;
  text-decoration: none;
}

.nav-menu li a:hover {
  text-decoration: underline;
}

#main {
  margin: 0px 20px;

}

.well {
  background-color: #875;
  padding: 25px;
  font-size: 13px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: #543014;
}


.well a {
  color: #FEE;
}
.well.numeros h3 {
  margin: 0px;
}
.well.numeros {
  font-size: 18px;
  color: black;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.well.numeros a {
  color: #FEE;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #543014;
}

h1 {
  border-bottom: 6px #543014 solid;
  padding-top: 60px;
  margin-top: 0px;
}

h1.small, h2.small {
  display: inline-block;
  border: none;
  margin-bottom: 0px;
}

.small-title {
  border-bottom: 6px #543014 solid;
}

#sidebar {
  float: right;
  margin-top: 60px;
}

#sidebar #links {
  margin-top: 20px;
}

#sidebar #links a {
  text-decoration:none;
  color: #543014;
}

#widget {
  display: inline-block;
}

.fb-like {
  display: inline-block;
  margin-top: -10px;
}

p, li {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313332;
}

table#event {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  font-size: 14px;
}

table#event td {
  padding: 7px 12px;
  text-align: center;
  color: #7E684D;
}

table#event th {
  color: #543014;
}

table#event thead {
  border-bottom: 3px #543014 solid;
}

table#event td {
  border-bottom: 1px solid #ccc;
}

table#event tr.day1, table#event td.day1 {
  border-bottom: 3px solid #555;
}

div#main-social {
  margin-bottom: 15px;
  z-index: -1;
}


div.talker{
	padding-bottom: 20px;
}

div.talker td {
  vertical-align: top;
  line-height: 25px;
  padding: 5px;
  border-bottom: 1px solid ;
  border-bottom-style: dashed;
}
div.talker img {
  width: 160px;
  padding: 8px;
  //border: 8px solid white;
  border: 1px solid #ececec;
}

div.talker p, div.talker li {
  font-size: 14px;
}

.hide {
  display: none;
}
